@import 'reset.css';
@import 'fonts.css';

:root {
    --pink: #FF9FA1;
    --blue: #0029FF;
    --grey: #C4C4C4;
    --white: #ffffff;
    --font: 'Source Code Pro',sans-serif;
    --horse-img: none;
}

* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    font-family: var(--font);
    width: 100%;
    /* height: 110vh; */
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: var(--white);
}

a {
    text-decoration: none;
}

h1,
h2 {
    font-family: 'Source Code Pro', sans-serif;
    line-height: 100%;
    text-transform: uppercase;
    position: absolute;
}

h1 {
    font-size: 3vw;
    color: #fff; 
}

h2 {
    font-size: 2vw;
    color: var(--blue);
    top: 39%;
    left: 30%;
    transform: matrix(1, -0.03, 0.04, 1, 0, 0);
}


/*Стили header'а*/

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 25px;
}

.header__logo__link,
.header__inf__link {
    color: var(--blue);
    line-height: 21px;
}

.header__logo__link {
    font-style: normal;
    font-weight: 600;
    font-size: 2.5vw;
}

.header__inf__link {
    font-size: 2vw;
    display: flex;
    align-items: center;
    font-family: 'Fugue', sans-serif;
}

.header__inf__link:hover {
 text-decoration: underline;
}

.header__inf__arrow {
    margin-right: 3px;
}

.header__inf {
    margin: 2vw 1vw;
}

.header__inf__block {
    position: relative;
}

.header__inf__hover {
    width: 125px;
    position: absolute;
    right: 0%;
}

.header__inf__block {
    text-align: end;
}

.header__inf__quest {
    color: var(--blue);
    font-family: 'Fugue', sans-serif;
    font-size: 24px;
    font-weight: bold;
    position: absolute;
    top: 0.7vw;
    right: 0.9vw
}

.header__inf__hover {
    display: none;
}

.header__inf:hover .header__inf__hover{
    display: block;
}

.header__inf__hover__text {
    color: var(--blue);
}


/*Стили для блока с графическими элементами*/

  /* Обощаю неоторые обзщие стили у элементов*/

.wrapper > div {
    position: fixed;
   transition: all 1.5s ease;
}

.grey__square,
.grey__circle,
.grey__circle__two,
.grey__title__rect,
.grey__circle__three {
    background-color: var(--grey);
}

.blue__rect,
.blue__rect__two,
.blue__adress__square,
.blue__rect__three,
.blue__rect__four {
    background-color: var(--blue);
}

.pink__circle,
.pink__rect,
.pink__circle__two,
.pink__rect__two {
    background-color: var(--pink);
}

.grey__circle,
.pink__circle,
.grey__circle__two,
.grey__circle__three,
.pink__circle__two {
    border-radius: 50%;
}
 
 /*Задаю уникальные стили для элемнтов*/

.wrapper {
    margin: 0vh 10vw;
    position: relative;
}

.bable {
    transform: translate(31.5vw, -2.5vh);
}

.bable__img {
    width: 13vw;
    height: 11.5vw;
}

.bable__img path {
    fill: var(--blue)
}

.candy {
    transform: translate(-0.5vw, 7vh);
}

.blue__candy__img {
    width: 20.5vw;
    height: 21.5vw;
}

.blue__candy__img path {
    fill: var(--blue);
}

.pink__oval {
    transform: translate(13vw, 5vh);
}

.pink__oval svg ellipse {
    fill: var(--pink);
}

.pink-oval-img {
    width: 12.5vw;
    height: 15.5vw;
}

.grey__square {
    width: 8vw;
    height: 8vw;
    transform: translate(26vw, 15vh);
}

.pink__title {
    transform: translate(35.5vw, 16.5vh)  matrix(1, 0.03, -0.04, 1, 0, 0);;
}

.pink__title__oval svg ellipse {
    fill: var(--pink);
}

.pink__title__text {
    top: 35%;
    left: 20%;
}

.blue__rect {
    width: 2.3vw;
    height: 7.7vw;
    transform: translate(58vw, 11vh) rotate(-63.49deg);
}

.grey__circle {
    transform: translate(62.7vw, 14vh);
    width: 10vw;
    height: 10vw;
}

.pink__circle {
    transform: translate(5.5vw, 34vh);
    width: 7vw;
    height: 7vw;
}

.grey__circle__two {
    transform: translate(20vw, 31vh);
    width: 7.8vw;
    height: 7.8vw;
}

.rounded {
    transform: translate(29.5vw, 29vh);
}

.rounded__img {
    width: 8.5vw;
    height: 8.5vw;
}
.rounded__img path {
    stroke: var(--blue);
}

.grey__title {
    transform: translate(38.5vw, 33vh);
}

.grey__title__rect {
    width: 28vw;
    height: 7vw;
}

.grey__title__text {
    top: 31%;
    left: 26%;
}

.pink__rect {
    transform: translate(67vw, 33vh);
    width: 9vw;
    height: 12vw;
}

.blue__rect__two {
    transform: translate(1vw, 50vh) rotate(-26.86deg);
    width: 3vw;
    height: 8vw;
}

.grey__title__extra {
    transform: translate(3.2vw, 45vh);
}

.grey__title__extra svg rect,
.grey__title__extra svg ellipse {
    fill: var(--grey);
}

.blue__title {
    transform: translate(37vw, 47vh);
}

.blue__title img {
    width: 22vw;
}

.blue__title svg path{
    fill: var(--blue);
}

.blue__title__text {
    top: 27%;
    left: 32%;
}

.pink__oval__two {
    transform: translate(-2vw, 57vh);
}

.pink__oval__two svg ellipse {
    fill: var(--pink);
}

.blue__adress {
    transform: translate(12.5vw, 64vh);
}

.blue__adress__square {
    width: 7.8vw;
    height: 7.8vw;
}

.blue__adress__img {
    position: absolute;
    top: -38%;
    left: 47%;
}

.blue__rect__three {
    transform: translate(28vw, 60vh);
    width: 3.5vw;
    height: 8vw;
}

.pink__circle__two {
    transform: translate(32.5vw, 60vh);
    width: 9.5vw;
    height: 9.5vw;
}

.candy__two {
    transform: translate(42.5vw, 54vh);
}

.candy__two__img {
    width: 29vw;
}

.candy__two__img path {
    fill: var(--blue);
}

.grey__circle__three {
    transform: translate(65.5vw, 66vh);
    width: 5vw;
    height: 5vw;
}

.blue__rect__four {
    transform: translate(74vw, 56vh) rotate(25.44deg);
    width: 4vw;
    height: 5vw;
}

.pink__rect__two {
    transform: translate(74vw, 61vh) rotate(-55deg);
    width: 2.5vw;
    height: 8vw;
}




/*Стили для особых элементов, которые появляются по нажатию и тд*/


 /*Styles for pink new circles*/ 
.div__circle {
    width: 125px;
    height: 125px;
    border-radius: 50%;
    background: var(--pink);
    border: solid 1px #ffff;
}

.img__new__candy {
    width: 115px;
    height: 115px;
    border-radius: 100%;
    border: transparent;
    background-image: url(../img/new_candy.png);
    background-repeat: no-repeat;
}

  /*Стили для модально окна со скидкой*/
.modal {
    position: absolute;
    bottom: 0;
    right: 0;
    visibility: hidden;
    transition: all .5ms linear;
}

.modal-animation-open{
    animation: zoom-in .3s linear;
}

@keyframes zoom-in {
    0%{
        opacity: 0;
        scale: 0;
    }
    100% {
        opacity: 1;
        scale: 1;
    }
}

.modal__inner {
    display: flex;
    flex-direction: row-reverse;
}

.modal__pic img {
    width: 26vw;
}

.modal__bable {
    position: relative;
    margin-right: -12%;
    margin-top: -9%;
}

.modal__bable__img {
    width: 42vw;
}

.modal__bable__content {
    position: absolute;
    top: 15%;
    left: 22%;
    text-align: center;
}

.modal__bable__content__close {
    position: absolute;
    right: -19%;
    top: -42%;
}

.modal__bable__content__title,
.modal__bable__content__text {
    line-height: 100%;
    text-transform: uppercase;
    color: white;
}

.modal__bable__content__title,
.modal__bable__content__text span:last-child {
    font-size: 1.7vw;
}

.modal__bable__content__text {
    font-size: 1.3vw;
    margin-top: 18%;
    display: flex;
    flex-direction: column;
}

.modal__bable__content__text span:last-child {
    font-weight: bold;
}

/**/
.letters {
   visibility: hidden;
   position: absolute;
}



/*Комментаррии Жени*/

/* .modal {
    opacity: 0;
}

.modal.is-visible {
    opacity: 1;
}

.modal.is-visible .modal__pic {
    transition-delay: 500ms;
    opacity: 1;
} */
/*не иннер а пик*/






/*Media запросы*/

@media (max-width: 1024px) {

    .header__logo__link {
        font-size: 2.5vw;
    }

    .header__inf {
        margin: 0;
    }

    .header__inf__quest {
        font-size: 28px;
        top: 0.7vw;
        right: 1.1vw;
    }

    .wrapper {
        margin: 10vh 10vw;
    }

    .bable {
        transform: translate(30.5vw, -5vh);
    }

    .bable__img {
        width: 19vw;
        height: 15vw;
    }

    .pink__oval {
        transform: translate(8vw, 4vh)
    }

    .pink__oval img {
        width: 18vw;
        height: 18vw;
    }

    .candy {
        transform: translate(-6vw, 5vh);
    }

    .blue__candy__img {
        width: 23.5vw;
        height: 24.5vw;
    }

    .grey__square {
        width: 10vw;
        height: 9vw;
        transform: translate(24.5vw, 13vh); 
    }

    .pink__title {
        transform: translate(36.5vw, 13.5vh) matrix(1, 0.03, -0.04, 1, 0, 0);
    }

    .pink__title img {
        width: 30vw;
        height: 11vw;
    }

    .blue__rect {
        width: 3vw;
        height: 8vw;
        transform: translate(63vw, 10vh) rotate(-63.49deg);
    }

    .grey__circle {
        transform: translate(67.7vw, 13vh);
        width: 11vw;
        height: 11vw; 
    }

    .grey__circle__two {
        transform: translate(18vw, 25.5vh);
        width: 9vw;
        height: 9vw;
    }

    .pink__circle {
        transform: translate(1.5vw, 27.5vh);
        width: 8vw;
        height: 8vw;
    }

    .grey__title__extra {
        transform: translate(-2.8vw, 36.5vh);
    }

    .grey__title__extra__img {
        width: 39vw;
    }

    .rounded {
        transform: translate(29.5vw, 25vh);
    }

    .rounded__img {
        width: 9vw;
        height: 9vw;
    }

    .grey__title {
        transform: translate(39.5vw, 27vh);
    } 

    .grey__title__rect {
        width: 32vw;
        height: 9vw;
    }

    .pink__rect {
        transform: translate(72.5vw, 27.5vh);
        width: 10vw;
        height: 16vw;
    }

    .blue__rect__two {
        transform: translate(-4.5vw, 45vh) rotate(-26.86deg);
        width: 3.5vw;
        height: 9vw;
    }

    .blue__title {
        transform: translate(37vw, 38.5vh);
    }

    .blue__title__img {
        width: 29vw;
        transform: rotate(3deg);
    }

    .pink__oval__two {
        transform: translate(-7vw, 48vh);
    }

    .pink__oval__img {
        width: 20vw;
        transform: rotate(-15deg);
    }

    .blue__adress {
        transform: translate(10vw, 52vh);
    }

    .blue__adress__square {
        width: 10vw;
        height: 10vw;
    }

    .blue__adress__img {
        left: 36%;
        width: 14vw;
    }

    .blue__rect__three {
        transform: translate(28vw, 49vh);
        height: 12vw;
    }

    .pink__circle__two {
        transform: translate(32.5vw, 51vh);
        width: 10.5vw;
        height: 10.5vw;
    }

    .candy__two {
        transform: translate(43.5vw, 46.5vh);
    }

    .candy__two__img {
        width: 32vw;
    }

    .grey__circle__three {
        transform: translate(68.5vw, 56vh);
        width: 6vw;
        height: 6vw; 
    }

    .blue__rect__four {
        transform: translate(80vw, 49vh) rotate(25.44deg); 
        height: 6vw;
    }

    .pink__rect__two {
        transform: translate(79.5vw, 52vh) rotate(-58deg);
        width: 3vw;
        height: 11vw; 
    }


    /*Стили появляющихся и особых элементов*/
    .modal__pic img {
        width: 35vw;
    }

    .modal__bable {
        margin-right: -13%;
        margin-top: -6%;
    }

    .modal__bable__img {
        width: 52vw;
    }

    .modal__bable__content {
        left: 17%;
    }

    .modal__bable__content__close {
        right: -12%;
        top: -26%;
    }

    .modal__bable__content__text {
        margin-top: 7%;
    }

    .modal__bable__content__title,
    .modal__bable__content__text span:last-child {
        font-size: 2.4vw;
    }

    .modal__bable__content__text {
        font-size: 1.8vw;
    }
}

@media (max-width: 768px) {

    h1 {
        font-size: 5vw;
    }

    .header {
        padding: 29px 25px;
    }

    .bable {
        transform: translate(40.5vw, -5.5vh) rotate(9deg);
    }

    .bable__img {
        width: 29vw;
        height: 23vw;
    }

    .grey__square {
        width: 10vw;
        height: 10vw;
        transform: translate(34.5vw, 6.5vh) rotate(45deg);
    }

    .pink__oval {
        transform: translate(12vw, 3vh) rotate(-13deg);
    }

    .pink__oval img {
        width: 22vw;
        height: 24vw;
    }

    .candy {
        transform: translate(-6vw, 8vh) rotate(-7deg);
    }

    .blue__candy__img {
        width: 37.5vw;
        height: 37.5vw;
    }

    .pink__title {
        transform: translate(29.5vw, 10vh) rotate(-13deg); 
    }

    .pink__title img {
        width: 47vw;
        height: 22vw;
    }

    .blue__rect {
        width: 5vw;
        height: 17vw;
        transform: translate(67vw, 20.5vh) rotate(-26deg);
    }

    .grey__title {
        transform: translate(24.5vw, 34vh) rotate(2deg); 
    }

    .grey__title__rect {
        width: 42vw;
        height: 13vw; 
    }

    .grey__circle {
        transform: translate(52.7vw, 25vh);
        width: 13vw;
        height: 13vw;
    }

    .rounded {
        transform: translate(34.5vw, 25vh) rotate(125deg); 
    }

    .rounded__img {
        width: 12vw;
        height: 13vw;
    }

    .pink__circle {
        transform: translate(6.5vw, 27vh) rotate(11deg);
        border-radius: 0%;
        width: 5vw;
        height: 16vw;
        background-color: var(--grey);
    }

    h2 {
        font-size: 3vw;
    }

    .grey__title__extra {
        transform: translate(-6.8vw, 45.5vh);
    }

    .blue__title img {
        width: 43vw;
    }

    .grey__title__extra__img {
        width: 44vw;
    }

    .grey__circle__two {
        transform: translate(11vw, 33.5vh);
        width: 14vw;
        height: 14vw; 
    }

    .blue__rect__two {
        transform: translate(2.5vw, 39vh);
        border-radius: 50%;
        height: 10vw;
        width: 10vw;
        background-color: var(--pink);
    }

    .pink__rect {
        transform: translate(67.5vw, 33.5vh); 
    }

    .blue__title {
        transform: translate(39vw, 44.5vh) rotate(4deg);
    }

    .blue__adress {
        transform: translate(-2vw, 57vh);
    }

    .blue__adress__square {
        width: 15vw;
        height: 14vw;
    }

    .blue__adress__img {
        width: 19vw;
    }

    .pink__oval__two {
        display: none;
    }

    .blue__rect__three {
        transform: translate(23vw, 53.5vh);
        height: 19vw;
        width: 4.5vw;
    }

    .pink__circle__two {
        transform: translate(28vw, 55vh);
        width: 14.5vw;
        height: 17.5vw;
    }

    .candy__two {
        transform: translate(43.5vw, 53.5vh) rotate(-8deg);
    }

    .candy__two__img {
        width: 42vw;
    }

    .blue__rect__four,
    .pink__rect__two {
        display: none;
    }

    .grey__circle__three {
        transform: translate(73vw, 59vh);
        width: 11vw;
        height: 11vw;
    }

    /*Стили появляющихся и особых элементов*/
    .modal__pic img {
        width: 51vw;
    }

    .modal__bable {
        margin-right: -19%;
        margin-top: -7%;
    }

    .modal__bable__img {
        width: 66vw;
    }

    .modal__bable__content {
        left: 17%;
    }

    .modal__bable__content__close {
        top: -55%;
    }

    .modal__bable__content__title {
        margin-top: -5%;
    }

    .modal__bable__content__text {
        margin-top: 7%;
    }

    .modal__bable__content__title {
        font-size: 3.2vw;
    }
}

@media (max-width: 414px) {

    h2 {
        font-size: 4vw;
    }

    .blue__rect,
    .pink__circle,
    .grey__circle__two,
    .blue__rect__three {
        display: none;
    }

    .header {
        padding: 5px 20px;
    }

    .header__inf__hover {
        width: 216px;
        padding: 7px;
        margin-right: 2%;
        background: #FFFFFF;
        box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.11);
    }
    .header__logo__link {
        font-size: 4.5vw;
    }

    .header__inf__quest {
        font-size: 25px;
        top: 1.4vw;
        right: 2.4vw;
    }

    .header__inf__img {
        width: 9vw;
    }

    .bable {
        transform: translate(40.5vw, -0.5vh) rotate(9deg); 
    }

    .bable__img {
        width: 30vw;
        height: 27vw;
    }

    .candy {
        transform: translate(-1.5vw, -5.5vh) rotate(-7deg); 
    }

    .blue__candy__img {
        width: 42.5vw;
        height: 43.5vw;
    }

    .pink__oval {
        display: none;
    }

    .grey__square {
        width: 15vw;
        height: 26vw;
        border-radius: 50%;
        transform: translate(8.5vw, 12vh) rotate(12deg);
    } 

    .pink__title {
        transform: translate(21.5vw, 15vh) rotate(-16deg);
    }

    .pink__title img {
        width: 54vw;
    }

    .grey__circle {
        transform: translate(66.7vw, 22vh);
    }

    .rounded {
        transform: translate(0.5vw, 28.5vh) rotate(335deg);
    }

    .rounded__img {
        width: 16vw;
        height: 16vw;
    }

    .grey__title {
        transform: translate(16.5vw, 29vh) rotate(2deg); 
    }

    .grey__title__rect {
        width: 53vw;
    }

    .pink__rect {
        transform: translate(69.5vw, 30.5vh);
        height: 22vw;
    }

    .blue__rect__two {
        transform: translate(0.5vw, 38vh) rotate(-8deg);
        border-radius: 0%;
        height: 21vw;
        width: 21vw;
    }

    .blue__title {
        transform: translate(24vw, 39.5vh) rotate(13deg);
    }

    .blue__title__text {
        top: 35%;
        left: 35%;
    }

    .blue__title img {
        width: 52vw;
    }

    .grey__title__extra {
        transform: translate(-2.8vw, 49.5vh);
    }

    .grey__title__extra__img {
        width: 64vw;
    }

    .blue__adress {
        transform: translate(0vw, 66vh);
    }

    .blue__adress__square {
        width: 21vw;
        height: 20vw;
    }

    .blue__adress__img {
        width: 23vw;
        top: -62%;
    }

    .pink__circle__two {
        transform: translate(31vw, 58.5vh);
        width: 15.5vw;
        height: 32.5vw;
    }

    .candy__two {
        transform: translate(39vw, 57.5vh) rotate(-49deg);
    }

    .candy__two__img {
        width: 49vw;
    }

    .grey__circle__three {
        transform: translate(63.5vw, 67.5vh);
        width: 18vw;
        height: 17vw;
    }
}

@media (max-width: 360px) {

    header {
        padding: 3px 16px; 
    } 

    .header__logo__link {
        font-size: 5.5vw;
    }

    .bable {
        transform: translate(40.5vw, -1.5vh) rotate(9deg);
    }
    
    .pink__title {
        transform: translate(20.5vw, 14vh) rotate(-16deg);
    }

    .pink__title_-img {
        width: 27vw;
    }

    .grey__square {
        transform: translate(7.5vw, 12vh) rotate(12deg);
    }

    .grey__title {
        transform: translate(16.5vw, 27vh) rotate(2deg);
    }

    .grey__title__rect {
        height: 15vw;
    }

    .grey__circle {
        transform: translate(66.7vw, 21vh);
    }

    .rounded {
        transform: translate(0.5vw, 26.5vh) rotate(335deg);
    }

    .pink__rect {
        transform: translate(69.5vw, 28.5vh);
        height: 23vw;
        width: 11vw;
    }

    .blue__rect__two {
        transform: translate(-0.5vw, 36vh) rotate(-8deg);
    }

    .blue__title {
        transform: translate(24vw, 37.5vh) rotate(13deg);
    }

    .grey__title__extra {
        transform: translate(-4.8vw, 47.5vh);
    }

    .blue__adress {
        transform: translate(-0.5vw, 63vh);
    }

    .pink__circle__two {
        transform: translate(30vw, 56vh);
        width: 16.5vw;
    }

    .candy__two {
        transform: translate(39vw, 54.5vh) rotate(-49deg);
    }

    .grey__circle__three {
        transform: translate(63.5vw, 64vh);
    }


    /*Стили для появляющихся элементов*/

       /*Стили для модального окна*/
    .modal {
        overflow-y: hidden;
        top: 0;
        width: 100%;
    }

    .modal__inner {
        flex-direction: column;
        margin-top: -37%;
        margin-right: -7%;
    }

    .modal__pic {
        transform: rotate(255deg);
    }

    .modal__pic img {
        width: 61vw;
    }

    .modal__bable {
        background: var(--blue);
        border-radius: 50%;
        width: 65vw;
        height: 50vw;
        margin-left: 12%;
        margin-top: 3%;
    }

    .modal__bable__content {
        top: 39%;
        left: 10%;
    }

    .modal__bable__img {
        display: none;
    }

    .modal__bable__content__close {
        top: -61%;
        left: 0;
    }
    .modal__bable__close__img {
        width: 4.5vw;
    } 

    .modal__bable__content__title,
    .modal__bable__content__text {
        margin: 0;
    }

    .modal__bable__content__title,
    .modal__bable__content__text span:last-child {
        font-size: 4.2vw;
    }

    .modal__bable__content__text {
        font-size: 3.5vw;
        margin-top: 10%;
    }










}

@media (max-width: 320px) {

    .bable {
        transform: translate(35.5vw, -2.5vh) rotate(9deg);
    }

    .candy {
        transform: translate(-8.5vw, -5.5vh) rotate(-7deg);
    }

    .grey__square {
        transform: translate(2.5vw, 12vh) rotate(12deg);
        width: 16vw;
        height: 27vw;
    }

    .pink__title {
        transform: translate(18.5vw, 12vh) rotate(-16deg);
    }

    .pink__title img {
        width: 58vw;
    }

    .grey__circle {
        transform: translate(65.7vw, 18vh);
    }

    .grey__title {
        transform: translate(16.5vw, 25.2vh) rotate(2deg);
    }


}