@import 'reset.css';
@import 'fonts.css';

:root {
    --pink: #FF9FA1;
    --blue: #0029FF;
    --grey: #C4C4C4;
    --acid-green: #00FF94;
    --white: #ffffff;
    --lightBlue: #5dcdbe;
    --red: #EC2A2A;
    --font: 'Source Code Pro',sans-serif;
    --horse-img: url(../img/horse.png);
}

* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    font-family: var(--font);
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: var(--white);
}

a {
    text-decoration: none;
}

h1,
h2 {
    line-height: 100%;
    text-transform: uppercase;
    position: absolute;
}

h1 {
    font-size: 3vw;
    color: #fff; 
}

h2 {
    font-size: 2vw;
    color: var(--blue);
    top: 39%;
    left: 30%;
    transform: matrix(1, -0.03, 0.04, 1, 0, 0);
}



/*Стили header'а*/

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 25px;
    z-index: 3;
}

.header__logo__link,
.header__logo__link__refresh,
.header__inf__link {
    color: var(--blue);
    line-height: 21px;
}

.header__logo__link,
.header__logo__link__refresh {
    font-style: normal;
    font-weight: 600;
    font-size: 2.5vw;
    cursor: url(../img/cursor.svg), auto;
}

.header__logo__link__refresh {
    display: none;
} 

.header__logo:hover .header__logo__link__refresh {
    display: block;
} 

.header__logo:hover .header__logo__link {
    display: none;
}

.header__inf__link {
    font-size: 2vw;
    display: flex;
    align-items: center;
    font-family: 'Fugue', sans-serif;
}

.header__inf {
    margin: 2vw 1vw;
}

.header__inf__block {
    position: relative;
    text-align: end;
}

.header__inf__hover {
    width: 400px;
    position: absolute;
    right: 0%;
}

.header__inf__img {
    width: 3vw;
}

.header__inf__quest {
    color: var(--blue);
    font-family: 'Fugue', sans-serif;
    font-size: 2vw;
    font-weight: bold;
    position: absolute;
    top: 0.7vw;
    right: 0.9vw;
    animation: jump 2s linear;
    animation-iteration-count: 7;
}

@keyframes jump {
    0% {
        top: 0.7vw; 
    }
    25% {
        top: 0.2vw; 
    }
    50% {
        top: 1.1vw; 
    }
    75% {
        top: 0.2vw; 
    }
    100% {
        top: 0.7vw; 
    }
}

.header__inf__hover {
    display: none;
}

.header__inf:hover .header__inf__hover{
    display: block;
}

.header__inf__hover__text {
    color: var(--blue);
    font-size: 1vw;
}


/*Стили для блока с графическими элементами*/

  /* Обощаю некоторые общие стили у элементов*/

.wrapper > div {
    position: fixed;
   transition: all 1.5s ease;
}

.grey__square,
.grey__circle,
.grey__circle__two,
.grey__title__rect,
.grey__circle__three {
    background-color: var(--grey);
}

.blue__rect,
.blue__rect__two,
.blue__adress__square,
.blue__rect__three,
.blue__rect__four {
    background-color: var(--blue);
}

.pink__circle,
.pink__rect,
.pink__circle__two,
.pink__rect__two {
    background-color: var(--pink);
}

.grey__circle,
.pink__circle,
.grey__circle__two,
.grey__circle__three,
.pink__circle__two {
    border-radius: 50%;
}
 
 /*Задаю уникальные стили для элемнтов*/

.wrapper {
    margin: 0vh 10vw;
    position: relative;
}

.bable {
    transform: translate(31.5vw, -2.5vh);
}

.bable__img:hover {
    opacity: 0.8;
    transition: all 0.5s ease;
}

.bable__img {
    width: 17vw;
    height: 11.5vw;
}

.bable__img path {
    fill: var(--blue)
}

.candy {
    z-index: 1;
    transform: translate(-0.5vw, 7vh);
}


.candy__special:hover {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.34);
    transition: all 0.5s ease;
}

.blue__candy__img {
    width: 22.5vw;
    height: 22.5vw;
}

.blue__candy__img:hover  {
    opacity: 0.8;
}

/* .blue__candy__img:hover {
    box-shadow: 0px 4px 12px #939393;
    transition: all 0.5s ease;
} */


.blue__candy__img path {
    fill: var(--blue);
}


.pink__oval {
    transform: translate(14.5vw, 7vh);
}

.pink__oval svg {
    width: 11vw;
    height: 14vw;
}

.pink__title svg {
    width: 28vw;
    height: 10vw;
}

.pink__oval__img {
    width: 14vw;
    height: 13vw;
}

.pink__oval svg ellipse {
    fill: var(--pink);
}

.pink-oval-img {
    width: 12.5vw;
    height: 15.5vw;
}

.grey__square {
    width: 9vw;
    height: 9vw;
    transform: translate(26vw, 15vh);
}

.pink__title {
    transform: translate(35vw, 16.5vh) matrix(1, 0.03, -0.04, 1, 0, 0);
}

.pink__title__oval svg ellipse {
    fill: var(--pink);
}

.pink__title__text {
    top: 35%;
    left: 20%;
}

.blue__rect {
    width: 2.3vw;
    height: 9.7vw;
    transform: translate(58vw, 9vh) rotate(-63.49deg);
}

.grey__circle {
    transform: translate(64vw, 15vh);
    width: 10vw;
    height: 10vw;
}

.pink__circle {
    transform: translate(5.5vw, 35.5vh);
    width: 8.5vw;
    height: 6vw;
    z-index: 1;
}

.pink__circle:hover {
    opacity: 0.8;
    transition: all 0.5s ease;
}

.grey__circle__two {
    transform: translate(21vw, 29.5vh);
    width: 9vw;
    height: 10vw;
}

.rounded {
    transform: translate(30vw, 31vh);
}

.rounded__img {
    width: 7.5vw;
    height: 7.5vw;
}

.rounded__img path {
    stroke: var(--blue);
}

.grey__title {
    transform: translate(38.5vw, 33vh);
}

.grey__title__rect {
    width: 28vw;
    height: 7vw;
}

.grey__title__text {
    top: 31%;
    left: 26%;
}

.pink__rect {
    transform: translate(67vw, 33vh);
    width: 9vw;
    height: 10.5vw;
}

.pink__rect:hover {
    opacity: 0.8;
    transition: all 0.5s ease;
}

.blue__rect__two {
    transform: translate(1vw, 49vh) rotate(-26.86deg);
    width: 3vw;
    height: 9.5vw;
}

.grey__title__extra {
    transform: translate(3.2vw, 44vh);
}

.grey__title__extra svg {
    width: 31vw;
    height: 9vw;
}

.grey__title__extra svg rect,
.grey__title__extra svg ellipse {
    fill: var(--grey);
}

.blue__title {
    transform: translate(34.5vw, 45.5vh) rotate(-7deg);
}

.blue__title svg {
    width: 24vw;
    height: 8vw;
}

.blue__title svg path{
    fill: var(--blue);
}

.blue__title__text {
    top: 27%;
    left: 32%;
}

.pink__oval__two {
    transform: translate(0vw, 58vh) rotate(-24deg);
}

.pink__oval__two svg ellipse {
    fill: var(--pink);
}

.blue__adress {
    transform: translate(11.5vw, 62vh);
}

.blue__adress__square {
    width: 8.8vw;
    height: 8.8vw;
}

.blue__adress__img {
    position: absolute;
    width: 9vw;
    top: -23%;
    left: 56%;
    animation: rotate 8s linear infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.blue__rect__three {
    transform: translate(26vw, 58vh);
    width: 4.5vw;
    height: 11.5vw;
}

.blue__rect__three:hover {
    opacity: 0.8;
    transition: all 0.5s ease;
}

.pink__circle__two {
    transform: translate(31vw, 61vh);
    width: 9.5vw;
    height: 10.5vw;
    text-align: center;
    align-items: center;
}

.pink__circle__two:hover {
    opacity: 0.8;
}

.candy__two {
    transform: translate(39.5vw, 53vh) rotate(-5deg);
}

.candy__two:hover {
    opacity: 0.8;
    transition: all 0.5s ease;
}

.candy__two__img {
    width: 33vw;
    height: 13vw;
}

.candy__two__img path {
    fill: var(--blue);
}

.grey__circle__three {
    transform: translate(62vw, 63vh);
    width: 8vw;
    height: 8.5vw;
}

.grey__circle__three:hover {
    opacity: 0.8;
}

.blue__rect__four {
    transform: translate(70vw, 54.5vh) rotate(10deg);
    width: 9vw;
    height: 5vw;
    border-radius: 50%;
}

.pink__rect__two {
    transform: translate(73vw, 63vh) rotate(-37deg);
    width: 2.5vw;
    height: 8vw;
}




/*Стили для особых элементов, которые появляются по нажатию и тд*/


 /*Styles for pink new circles*/ 
.div__circle {
    width: 12vw;
    height: 12vw;
    border-radius: 50%;
    background: var(--pink);
    border: solid 0.2vw #ffff;
    z-index: 2;
}

.img__new__candy {
    width: 10vw;
    height: 10vw;
    border-radius: 100%;
    border: transparent;
    background-image: url(../img/new_candy.png);
    background-repeat: no-repeat;
    background-size: cover;
}

  /*Стили для модально окна со скидкой*/
.modal {
    position: absolute;
    bottom: 0;
    right: 0;
    visibility: hidden;
    transition: all .5ms linear;
    z-index: 1;
}

.modal-animation-open{
    animation: zoom-in .3s linear;
}

@keyframes zoom-in {
    0%{
        opacity: 0;
        scale: 0;
    }
    100% {
        opacity: 1;
        scale: 1;
    }
}

.modal__inner {
    display: flex;
    flex-direction: row-reverse;
}

.modal__pic img {
    width: 26vw;
}

.modal__bable {
    position: relative;
    margin-right: -12%;
    margin-top: -9%;
}

.modal__bable__img {
    width: 47vw;
    height: 21vw;
}

.modal__bable__close__img {
    width: 1.5vw;
}

.modal__bable__content {
    position: absolute;
    top: 15%;
    left: 22%;
    text-align: center;
}

.modal__bable__content__close {
    position: absolute;
    top: -42%;
}

.modal__bable__content__title {
    margin-top: 4%;
}

.modal__bable__content__title,
.modal__bable__content__text {
    line-height: 100%;
    text-transform: uppercase;
    color: white;
}

.modal__bable__content__title,
.modal__bable__content__text span:last-child {
    font-size: 1.7vw;
}

.modal__bable__content__text span:last-child  {
    margin-top: 2%;
}

.modal__bable__content__text {
    font-size: 1.3vw;
    margin-top: 9%;
    display: flex;
    flex-direction: column;
}

.modal__bable__content__text span:last-child {
    font-weight: bold;
}


/*Появляющиеся буквы*/
.letters {
   visibility: hidden;
   position: absolute;
}


/*появляющиеся картинки*/
.svg__horse {
    background-image: var(--horse-img);
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 1.5s linear;
}

.img__bc {
    width: 8vw;
    height: 8vw;
    border-radius: 50%;
    margin: 0 auto;
    margin-top: 7%;
    display: none;
}


/*рыбы анимация*/
.fish {
    position: fixed;
    opacity: 0;
    right: 0;
    top: 10%;
}

.fish-img {
    width: 24.5vw;
    transform: translate(50%, 5%) rotate(-30deg);
}


/*Квадраты для красного фона*/
.squares {
    position: absolute;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow: hidden;
    opacity: 0;
    transition: all 1.5s ease;
    transition-delay: 0.5s;
    transition-duration: 2s;
}

.squares__line {
    display: flex;
}

.squares__line .squares__line__item:first-child,
.squares__line .squares__line__item:nth-child(2),
.squares__line .squares__line__item:nth-child(3) {
    animation: squareTranslateRight 5s ease-in-out alternate infinite;
    animation-delay: 3s;
}

@keyframes squareTranslateRight {
    0% {
        transform: translateX(0%) rotate(45deg);
    }
    100% {
        transform: translateX(100%)  rotate(360deg);
    }
}

.squares__line .squares__line__item:nth-child(4) {
    animation: squareRoate 5s ease-in-out alternate infinite;
    animation-delay: 3s;
}

@keyframes squareRoate  {
    0% {
        transform: rotate(45deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.squares__line .squares__line__item:last-child,
.squares__line .squares__line__item:nth-child(5),
.squares__line .squares__line__item:nth-child(6) {
    animation: squareTranslateLeft 5s ease-in-out alternate infinite;
    animation-delay: 3s;
}

@keyframes squareTranslateLeft {
    0% {
        transform: translateX(0%) rotate(45deg);
    }
    100% {
        transform: translateX(-100%)  rotate(360deg);
    }
}

.squares__line__item {
    width: 10vw;
    height: 10vw;
    background-color: var(--red);
    transform: rotate(45deg);
    margin: 2.15vw;
}

/*Линии при черном экране*/
.line {
    position: fixed;
    z-index: -1;
    visibility: hidden;
    width: 55vw;
    height: 123vh
}

.line path {
    stroke: var(--acid-green);
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: dash 5s linear alternate infinite;
  }
  
  @keyframes dash {
    from {
        stroke-dashoffset: 889;
      }
    to {
      stroke-dashoffset: 0;
    }
  }



/* Mofing */
.pink__oval__morphing {
    border-radius: 50%;
    border: white solid 0.1vw;
    width: 12vw;
    height: 15vw;
    animation: morphingOvalFirst 2s ease infinite;
}

.pink__oval__morphing:before {
    content: '';
    position: absolute;
    border-radius: 50%;
    border: white solid 0.1vw;
    width: 12vw;
    height: 15vw;
    animation: morphingOvalFirst 2s ease infinite;
    animation-delay: .1s;
}

@keyframes morphingOvalFirst {
  0% {
    border-radius: 50%;  
    width: 12vw;
    height: 15vw;
  }
  50% {
    border-radius: 0%;  
    width: 9vw;
    height: 14vw;
  }
  100% {
    border-radius: 50%;  
    width: 12vw;
    height: 15vw; 
  }
}

.pink__title__oval__morfing {
    width: 28vw;
    height: 10vw;
    border-radius: 50%;
    border: white solid 0.1vw;
    animation:  morphingOvalSecond 2.1s ease infinite;
    animation-delay: 1s;
}

.pink__title__oval__morfing:before {
    content: '';
    position: absolute;
    width: 28vw;
    height: 10vw;
    border-radius: 0%;
    border: white solid 0.1vw;
    animation:  morphingOvalSecond 2.1s ease infinite;
    animation-delay: 1.1s;
}

@keyframes morphingOvalSecond {
    0% {
      border-radius: 50%;  
      width: 28vw;
      height: 10vw;
    }
    50% {
      border-radius: 0%;  
      width: 28vw;
      height: 7vw;
    }
    100% {
      border-radius: 50%;  
      width: 28vw;
      height: 10vw; 
    }
  }

.pink__rect__morfing {
    border-radius: 0%;  
    width: 9vw;
    height: 10.5vw;
    animation: morphingRect 2.5s ease infinite;
    animation-delay: 0.7s;
}

.pink__rect__morfing:before {
    content: '';
    position: absolute;
    width: 9vw;
    height: 10.5vw;
    border-radius: 0%;
    border: white solid 0.1vw;
    animation: morphingRect 2.5s ease infinite;
    animation-delay: 0.7s;
}

@keyframes morphingRect {
    0% {
        border-radius: 0%;  
        width: 9vw;
        height: 10.5vw;
    }
    50% {
        border-radius: 50%;  
        width: 9vw;
        height: 12vw;
    }
    100% {
        border-radius: 0%;  
        width: 9vw;
        height: 10.5vw;
    }
}

.pink__circle__two__morfing {
    width: 9.5vw;
    height: 10.5vw;
    background-color: transparent;
    border: white solid 0.1vw;
    animation: morphingDownCirc 2.5s ease infinite;
    animation-delay: 0.3s;
}

.pink__circle__two__morfing:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 9.5vw;
    height: 10.5vw;
    border-radius: 50%;
    border: white solid 0.1vw;
    animation: morphingDownCirc 2.5s ease infinite;
    animation-delay: 0.4s;
}

@keyframes morphingDownCirc {
    0% {
        border-radius: 50%;  
        width: 9.5vw;
        height: 10.5vw;
    }
    50% {
        border-radius: 0%;  
        width: 10.5vw;
        height: 9.5vw;
    }
    100% {
        border-radius: 50%;  
        width: 9.5vw;
        height: 10.5vw;
    }
}

/* Прямоугольники для полосатого фона */
.rect {
    position: fixed;
    overflow: hidden;
    z-index: -1;
    justify-content: space-between;
    top: -27%;
    left: -50%;
    transform: rotate(-45deg);
    visibility: hidden;
    transition: all .5s ease;
}

.rect__item {
    width: 200vw;
    height: 13vw;
    overflow: hidden;
    transition: all .5s ease;
}

.rect__item:nth-child(even) {
    background-color: white;
} 

.rect__item:nth-child(odd) {
    background-color: #01D358;
}

.rect__item:nth-child(odd):hover {
    background-color: white;
} 

.rect__item:nth-child(odd):hover .rect__item__phrasse {
    display: block;
} 

.rect__item__phrasse {
    font-family: 'Fugue', sans-serif;
    font-size: 2.6vw;
    text-transform: uppercase;
    color: #01D358;
    display: none;
}





/*Media запросы*/
@media (max-width: 1440px) {

    .header__inf__hover {
        width: 125px;
    }

    .bable {
        transform: translate(31.5vw, -2.5vh);
    }
    
    .bable__img {
        width: 13vw;
        height: 11.5vw;
    }

    .grey__square {
        width: 8vw;
        height: 8vw;
    }

    .pink__oval {
        transform: translate(13vw, 5vh);
    }

    .pink__oval svg {
        width: 12vw;
        height: 15vw;
    }

    .blue__candy__img {
        width: 20.5vw;
        height: 21.5vw;
    }

    .grey__circle__two {
        transform: translate(20vw, 31vh);
        width: 7.8vw;
        height: 7.8vw;
    }

    .pink__circle {
        transform: translate(5.5vw, 34vh);
        width: 7vw;
        height: 7vw;
    }

    .rounded {
        transform: translate(29.5vw, 29vh);
    }

    .pink__title {
        transform: translate(35.5vw, 16.5vh)  matrix(1, 0.03, -0.04, 1, 0, 0);;
    }

    .blue__rect {
        width: 2.3vw;
        height: 7.7vw;
        transform: translate(58vw, 11vh) rotate(-63.49deg);
    }

    .grey__circle {
        transform: translate(62.7vw, 14vh);
    }

    .grey__title__extra {
        transform: translate(3.2vw, 45vh);
    }

    .grey__title__extra svg {
        height: 8vw;
    }

    .blue__title {
        transform: translate(37vw, 47vh);
    }

    .blue__title svg {
        width: 22vw;
        height: 7vw;
    }

    .pink__oval__two {
        transform: translate(-2vw, 57vh);
    }

    .blue__rect__two {
        transform: translate(1vw, 50vh) rotate(-26.86deg);
        width: 3vw;
        height: 8vw;
    }

    .blue__adress__square {
        width: 7.8vw;
        height: 7.8vw;
    }

    .blue__adress {
        transform: translate(12.5vw, 64vh);
    }

    .blue__adress__img {
        top: -38%;
        left: 47%;
    }

    .blue__rect__three {
        transform: translate(28vw, 60vh);
        width: 3.5vw;
        height: 8vw;
    }

    .pink__circle__two {
        transform: translate(32.5vw, 60vh);
        width: 9.5vw;
        height: 9.5vw;
    }

    .candy__two {
        transform: translate(42.5vw, 54vh);
    }

    .candy__two__img {
        width: 29vw;
    }

    .grey__circle__three {
        transform: translate(65.5vw, 66vh);
        width: 5vw;
        height: 5vw;
    }

    .blue__rect__four {
        transform: translate(74vw, 56vh) rotate(25.44deg);
        width: 4vw;
        height: 5vw;
        border-radius: 0%;
    }

    .pink__rect {
        height: 12vw;
    }

    .pink__rect__two {
        transform: translate(74vw, 61vh) rotate(-55deg);
        width: 2.5vw;
        height: 8vw;
    }

    .pink__title svg {
        width: 27vw;
        height: 9.5vw;
    }

    /* mofing */

    .pink__oval__morphing {
        transform: translate(14vw, 4vh);
        width: 27vw;
        height: 9.5vw;
    }
}

@media (max-width: 1024px) {
    .header__logo__link {
        font-size: 2.5vw;
    }

    .header__inf {
        margin: 0;
    }

    .header__inf__quest {
        font-size: 28px;
        top: 0.7vw;
        right: 1.1vw;
    }

    .wrapper {
        margin: 10vh 10vw;
    }

    .bable {
        transform: translate(30.5vw, -5.5vh);
    }

    .bable__img {
        width: 19vw;
        height: 13vw;
    }

    .pink__oval {
        transform: translate(12.5vw, 6.5vh);
    }

    .pink__oval img {
        width: 18vw;
        height: 18vw;
    }

    .candy {
        transform: translate(-4vw, 5vh);
    }

    .blue__candy__img {
        width: 23.5vw;
        height: 24.5vw;
    }

    .grey__square {
        width: 10vw;
        height: 9vw;
        transform: translate(24.5vw, 13vh); 
    }

    .pink__title {
        transform: translate(36.5vw, 13.5vh) matrix(1, 0.03, -0.04, 1, 0, 0);
    }

    .pink__title svg{
        width: 30vw;
    }

    .pink__title img {
        width: 30vw;
        height: 11vw;
    }

    .blue__rect {
        width: 3vw;
        height: 9vw;
        transform: translate(62.5vw, 8.5vh) rotate(-63.49deg);
    }

    .grey__circle {
        transform: translate(67.7vw, 13vh);
        width: 11vw;
        height: 11vw; 
    }

    .grey__circle__two {
        transform: translate(20vw, 25.5vh);
        width: 9vw;
        height: 9vw;
    }

    .pink__circle {
        transform: translate(1.5vw, 27.5vh);
        width: 8vw;
        height: 8vw;
    }
    .grey__title__extra__img {
        width: 39vw;
    }

    .rounded {
        transform: translate(29.5vw, 25vh);
    }

    .rounded__img {
        width: 9vw;
        height: 9vw;
    }

    .grey__title {
        transform: translate(39.5vw, 27vh);
    } 

    .grey__title__rect {
        width: 32vw;
        height: 9vw;
    }

    .pink__rect {
        transform: translate(72.5vw, 27.5vh);
        width: 10vw;
        height: 16vw;
    }

    .blue__rect__two {
        transform: translate(-2vw, 42.5vh) rotate(-47deg);
        width: 3.5vw;
        height: 9vw;
    }

    .blue__title {
        transform: translate(34vw, 39.5vh);
    }

    .blue__title__img {
        width: 29vw;
        transform: rotate(3deg);
    }

    .pink__oval__two {
        transform: translate(-4.5vw, 45.5vh);
    }

    .pink__oval__img {
        width: 18vw;
        transform: rotate(-15deg);
    }

    .blue__adress {
        transform: translate(11vw, 52vh);
    }

    .blue__adress__square {
        width: 10vw;
        height: 10vw;
    }

    .blue__adress__img {
        left: 67%;
        top: -31%;
        width: 10vw;
    }

    .blue__rect__three {
        transform: translate(28vw, 49vh);
        height: 12vw;
    }

    .pink__circle__two {
        transform: translate(32.5vw, 51vh);
        width: 10.5vw;
        height: 10.5vw;
    }

    .candy__two {
        transform: translate(41.5vw, 46.5vh) rotate(-2deg);
    }

    .candy__two__img {
        width: 32vw;
    }

    .grey__circle__three {
        transform: translate(64.5vw, 54.5vh);
        width: 6vw;
        height: 7vw;
    }

    .blue__rect__four {
        transform: translate(74vw, 47vh) rotate(25.44deg);
        height: 8vw;
    }

    .pink__rect {
        transform: translate(72vw, 27.5vh);
        width: 10vw;
        height: 14vw;
    }

    .pink__rect__two {
        transform: translate(73.5vw, 55vh) rotate(-55deg);
    }

    .grey__title__extra {
        transform: translate(0.2vw, 36.5vh);
    }

    .grey__title__extra svg {
        height: 10vw;
        width: 32vw;
    }

    .blue__title svg {
        width: 26vw;
        height: 8vw;
    }


    /*Стили появляющихся и особых элементов*/
    .modal__pic img {
        width: 35vw;
    }

    .modal__bable {
        margin-right: -13%;
        margin-top: -6%;
    }

    .modal__bable__img {
        width: 52vw;
    }

    .modal__bable__content {
        left: 17%;
        top: 10%;
    }

    .modal__bable__content__close {
        top: -26%;
    }

    .modal__bable__content__text {
        margin-top: 7%;
    }

    .modal__bable__content__title,
    .modal__bable__content__text span:last-child {
        font-size: 2.4vw;
    }

    .modal__bable__content__text {
        font-size: 1.8vw;
    }

    /* mofing */
    .pink__title__oval__morfing  {
        width: 30vw;
    }
}

@media (max-width: 768px) {

    h1 {
        font-size: 5vw;
    }

    .header {
        padding: 6px 25px;
    }
    
    .header__logo__link {
        font-size: 3.5vw;
    }

    .header__inf__img {
        width: 4.5vw;
    }

    .header__inf__hover__text {
        font-size: 2vw;
    }

    .wrapper {
        margin: 14.5vh 10vw;
    }


    .bable {
        transform: translate(42.5vw, -7.5vh) rotate(9deg);
    }

    .bable__img {
        width: 29vw;
        height: 23vw;
    }

    .grey__square {
        width: 11vw;
        height: 11vw;
        transform: translate(35.5vw, 4.5vh) rotate(45deg);
    }

    .pink__oval {
        transform: translate(13vw, 1vh) rotate(-13deg);
    }

    .pink__oval svg {
        width: 21vw;
        height: 24vw;
    }

    .candy {
        transform: translate(-6vw, 6vh) rotate(-9deg);
    }

    .blue__candy__img {
        width: 37.5vw;
        height: 37.5vw;
    }

    .pink__title {
        transform: translate(29.5vw, 9vh) rotate(-13deg)
    }

    .pink__title svg {
        width: 47vw;
        height: 22vw;
    }

    .blue__rect {
        width: 5vw;
        height: 17vw;
        transform: translate(68vw, 19.5vh) rotate(-28deg);
    }

    .grey__title {
        transform: translate(25.5vw, 33vh) rotate(2deg); 
    }

    .grey__title__rect {
        width: 42vw;
        height: 13vw; 
    }

    .grey__circle {
        transform: translate(54.7vw, 23vh);
        width: 13vw;
        height: 13vw;
    }

    .rounded {
        transform: translate(34.5vw, 24vh) rotate(125deg); 
    }

    .rounded__img {
        width: 12vw;
        height: 13vw;
    }

    .pink__circle {
        transform: translate(6.5vw, 25vh) rotate(11deg);
        border-radius: 0%;
        width: 5vw;
        height: 16vw;
        background-color: var(--grey);
    }

    h2 {
        font-size: 3vw;
    }

    .grey__title__extra {
        transform: translate(-4.8vw, 43.5vh);
    }

    .grey__title__extra svg {
        height: 12vw;
        width: 44vw;
    }

    .grey__title__extra__img {
        width: 44vw;
    }

    .grey__circle__two {
        transform: translate(11vw, 31.5vh);
        width: 14vw;
        height: 14vw; 
    }

    .blue__rect__two {
        transform: translate(2.5vw, 37vh);
        border-radius: 50%;
        height: 10vw;
        width: 10vw;
        background-color: var(--pink);
    }

    .pink__rect {
        transform: translate(68.5vw, 32.5vh);
        width: 12vw;
        height: 15vw;
    }

    .blue__title {
        transform: translate(40vw, 42.5vh) rotate(6deg);;
    }

    .blue__title svg {
        width: 36vw;
        height: 12vw;
    }

    .blue__adress {
        transform: translate(-3vw, 55vh);
    }

    .blue__adress__square {
        width: 15vw;
        height: 14vw;
    }

    .blue__adress__img {
        width: 17vw;
    }

    .pink__oval__two {
        display: none;
    }

    .blue__rect__three {
        transform: translate(24vw, 51.5vh);
        height: 20vw;
        width: 4.5vw;
    }

    .pink__circle__two {
        transform: translate(29vw, 53vh);
        width: 16.5vw;
        height: 17.5vw;
    }

    .candy__two {
        transform: translate(43.5vw, 50.5vh) rotate(-14deg);
    }

    .candy__two__img {
        width: 42vw;
        height: 17vw;
    }

    .blue__rect__four,
    .pink__rect__two {
        display: none;
    }

    .grey__circle__three {
        transform: translate(70vw, 57vh);
        width: 13vw;
        height: 13vw;
    }

    /*Стили появляющихся и особых элементов*/
    .modal__pic img {
        width: 51vw;
    }

    .modal__bable {
        margin-right: -19%;
        margin-top: -7%;
    }

    .modal__bable__img {
        width: 66vw;
        height: 28vw;
    }

    .modal__bable__content {
        left: 17%;
    }

    .modal__bable__content__close {
        top: -49%;
    }
    
    .modal__bable__close__img {
        width: 2.5vw;
    }

    .modal__bable__content__title {
        margin-top: -5%;
    }

    .modal__bable__content__text {
        margin-top: 7%;
    }

    .modal__bable__content__title {
        font-size: 3.2vw;
    }



    /* mofing */

    .pink__oval__morphing {
        border-radius: 50%;
        border: white solid 0.1vw;
        width: 21vw;
        height: 24vw;
        animation: morphingOvalFirst 2s ease infinite;
    }

    .pink__oval__morphing:before {
        content: '';
        position: absolute;
        border-radius: 50%;
        border: white solid 0.1vw;
        width: 21vw;
        height: 24vw;
        animation: morphingOvalFirst 2s ease infinite;
        animation-delay: .1s;
    }
    
    @keyframes morphingOvalFirst {
      0% {
        border-radius: 50%;  
        width: 21vw;
        height: 24vw;
      }
      50% {
        border-radius: 0%;  
        width: 18vw;
        height: 23vw;
      }
      100% {
        border-radius: 50%;  
        width: 21vw;
        height: 24vw;
      }
    }

    .pink__title__oval__morfing {
        width: 47vw;
        height: 17vw;
        animation: morphingOvalSec 2s ease infinite;
    }

    .pink__title__oval__morfing:before {
        content: '';
        position: absolute;
        width: 47vw;
        height: 17vw;
        border-radius: 0%;
        border: white solid 0.1vw;
        animation: morphingOvalSec 2.1s ease infinite;
        animation-delay: 1.1s;
    }

    @keyframes morphingOvalSec {
        0% {
          border-radius: 50%;  
          width: 47vw;
          height: 17vw;
        }
        50% {
          border-radius: 0%;  
          width: 44vw;
          height: 16vw;
        }
        100% {
          border-radius: 50%;  
          width: 47vw;
          height: 17vw;
        }
      }
    
    .pink__rect__morfing {
        border-radius: 0%;  
        width: 9vw;
        height: 10.5vw;
        animation: morphingRect 2.5s ease infinite;
        animation-delay: 0.7s;
    }
    
    .pink__rect__morfing:before {
        content: '';
        position: absolute;
        width: 9vw;
        height: 10.5vw;
        border-radius: 0%;
        border: white solid 0.1vw;
        animation: morphingRect 2.5s ease infinite;
        animation-delay: 0.7s;
    }
    
    @keyframes morphingRect {
        0% {
            border-radius: 0%;  
            width: 9vw;
            height: 10.5vw;
        }
        50% {
            border-radius: 50%;  
            width: 9vw;
            height: 12vw;
        }
        100% {
            border-radius: 0%;  
            width: 9vw;
            height: 10.5vw;
        }
    }

    .pink__circle__two__morfing {
        width: 16.5vw;
        height: 17.5vw;
        background-color: transparent;
        border: white solid 0.1vw;
        animation: morphingDownCirc 2.5s ease infinite;
        animation-delay: 0.3s;
    }
    
    .pink__circle__two__morfing:before {
        content: '';
        position: absolute;
        width: 16.5vw;
        height: 17.5vw;
        border-radius: 0%;
        border: white solid 0.1vw;
        animation: morphingDownCirc 2.5s ease infinite;
        animation-delay: 0.4s;
    }
    
    @keyframes morphingDownCirc {
        0% {
            border-radius: 50%;  
            width: 16.5vw;
            height: 17.5vw;
        }
        50% {
            border-radius: 0%;  
            width: 17.5vw;
            height: 18.5vw;
        }
        100% {
            border-radius: 50%;  
            width: 16.5vw;
            height: 17.5vw;
        }
    }


    /* squares */

    .squares__line .squares__line__item:first-child,
    .squares__line .squares__line__item:nth-child(2),
    .squares__line .squares__line__item:nth-child(3),
    .squares__line .squares__line__item:nth-child(4),
    .squares__line .squares__line__item:last-child,
    .squares__line .squares__line__item:nth-child(5),
    .squares__line .squares__line__item:nth-child(6) {
        animation:  squareRotate  5s ease-in-out alternate infinite;
        animation-delay: 3s;
    }
    
    @keyframes squareRotate  {
        0% {
            transform: rotate(45deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }

}

@media (max-width: 414px) {

    h2 {
        font-size: 4vw;
    }

    .blue__rect,
    .pink__circle,
    .grey__circle__two,
    .blue__rect__three {
        display: none;
    }

    .header {
        padding: 5px 20px;
    }

    .header__inf__hover {
        width: 216px;
        padding: 7px;
        margin-right: 2%;
        background: #FFFFFF;
        box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.11);
    }
    .header__logo__link {
        font-size: 4.5vw;
    }

    .header__inf__quest {
        font-size: 25px;
        top: 1.4vw;
        right: 2.4vw;
    }

    .header__inf__img {
        width: 9vw;
    }

    .wrapper {
        margin: 9.5vh 10vw;
    }

    .bable {
        transform: translate(40.5vw, -0.5vh) rotate(9deg); 
    }

    .bable__img {
        width: 30vw;
        height: 27vw;
    }

    .candy {
        transform: translate(-1.5vw, -5.5vh) rotate(-7deg); 
    }

    .blue__candy__img {
        width: 42.5vw;
        height: 43.5vw;
    }

    .pink__oval {
        display: none;
    }

    .grey__square {
        width: 15vw;
        height: 26vw;
        border-radius: 50%;
        transform: translate(8.5vw, 12vh) rotate(12deg);
    } 

    .pink__title {
        transform: translate(21.5vw, 15vh) rotate(-14deg);
    }

    .pink__title svg {
        width: 56vw;
    }

    .grey__circle {
        transform: translate(66.7vw, 22vh);
    }

    .rounded {
        transform: translate(0.5vw, 27.5vh) rotate(335deg);
    }

    .rounded__img {
        width: 16vw;
        height: 16vw;
    }

    .grey__title {
        transform: translate(16.5vw, 28vh) rotate(2deg); 
    }

    .grey__title__rect {
        width: 53vw;
    }

    .pink__rect {
        transform: translate(69.5vw, 29.5vh);
        height: 22vw;
    }

    .blue__rect__two {
        transform: translate(0.5vw, 36.5vh) rotate(-8deg);
        border-radius: 0%;
        height: 21vw;
        width: 21vw;
    }

    .blue__title {
        transform: translate(23vw, 38.5vh) rotate(11deg);
    }

    .blue__title svg {
        width: 52vw;
        height: 16vw;
    }

    .blue__title__text {
        top: 35%;
        left: 35%;
    }

    .blue__title img {
        width: 52vw;
    }

    .grey__title__extra {
        transform: translate(-2.8vw, 47.5vh);
    }

    .grey__title__extra svg {
        height: 18vw;
        width: 59vw;
    }

    .grey__title__extra__img {
        width: 64vw;
    }

    .blue__adress {
        transform: translate(0vw, 63vh);
    }

    .blue__adress__square {
        width: 21vw;
        height: 20vw;
    }

    .blue__adress__img {
        width: 23vw;
        top: -62%;
        left: 36%;
    }

    .pink__circle__two {
        transform: translate(31vw, 56.5vh);
        width: 15.5vw;
        height: 32.5vw;
    }

    .candy__two {
        transform: translate(38.5vw, 55.5vh) rotate(-49deg);
    }

    .candy__two__img {
        width: 49vw;
        height: 22vw;
    }

    .grey__circle__three {
        transform: translate(63.5vw, 64.5vh);
        width: 18vw;
        height: 17vw;
    }

    .modal__pic img {
        width: 64vw;
    }



    /*Стили для появляющихся элементов*/

       /*Стили для модального окна*/
       .modal {
        overflow-y: hidden;
        top: 0;
        width: 100%;
    }

    .modal__inner {
        flex-direction: column;
        margin-top: -37%;
        margin-right: -7%;
    }

    .modal__pic {
        transform: rotate(255deg);
    }

    .modal__pic img {
        width: 61vw;
    }

    .modal__bable {
        background: var(--blue);
        border-radius: 50%;
        width: 65vw;
        height: 50vw;
        margin-left: 12%;
        margin-top: 3%;
    }

    .modal__bable__content {
        top: 39%;
        left: 10%;
    }

    .modal__bable__img {
        display: none;
    }

    .modal__bable__content__close {
        top: -61%;
    }
    .modal__bable__close__img {
        width: 4.5vw;
    } 

    .modal__bable__content__title,
    .modal__bable__content__text {
        margin: 0;
    }

    .modal__bable__content__title,
    .modal__bable__content__text span:last-child {
        font-size: 4.2vw;
    }

    .modal__bable__content__text {
        font-size: 3.5vw;
        margin-top: 10%;
    }


    /* mofing */ 

    .pink__title__oval__morfing {
        width: 56vw;
        height: 17vw;
        animation: morphingOvalSec 2s ease infinite;
        border: white solid .3vw;
    }

    .pink__title__oval__morfing:before {
        content: '';
        position: absolute;
        width: 56vw;
        height: 17vw;
        border-radius: 0%;
        border: white solid .3vw;
        animation: morphingOvalSec 2.1s ease infinite;
        animation-delay: 1.1s;
    }

    @keyframes morphingOvalSec {
        0% {
          border-radius: 50%;  
          width: 56vw;
          height: 17vw;
        }
        50% {
          border-radius: 0%;  
          width: 53vw;
          height: 16vw;
        }
        100% {
          border-radius: 50%;  
          width: 56vw;
          height: 17vw;
        }
      }
    
    .pink__rect__morfing {
        border-radius: 0%;  
        width: 9vw;
        height: 22vw;
        animation: morphingRect 2.5s ease infinite;
        animation-delay: 0.7s;
        border: white solid .3vw;
    }
    
    .pink__rect__morfing:before {
        content: '';
        position: absolute;
        width: 9vw;
        height: 22vw;
        border-radius: 0%;
        border: white solid .3vw;
        animation: morphingRect 2.5s ease infinite;
        animation-delay: 0.7s;
    }
    
    @keyframes morphingRect {
        0% {
            border-radius: 0%;  
            width: 9vw;
            height: 22vw;
        }
        50% {
            border-radius: 50%;  
            width: 9vw;
            height: 24vw;
        }
        100% {
            border-radius: 0%;  
            width: 9vw;
            height: 22vw;
        }
    }

    .pink__circle__two__morfing {
        width: 15.5vw;
        height: 32.5vw;
        background-color: transparent;
        border: white solid 0.2vw;
        animation: morphingDownCirc 2.5s ease infinite;
        animation-delay: 0.3s;
    }
    
    .pink__circle__two__morfing:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 15.5vw;
        height: 32.5vw;
        border-radius: 50%;
        border: white solid 0.2vw;
        animation: morphingDownCirc 2.5s ease infinite;
        animation-delay: 0.4s;
    }
    
    @keyframes morphingDownCirc {
        0% {
            border-radius: 50%;  
            width: 15.5vw;
            height: 32.5vw;
        }
        50% {
            border-radius: 0%;  
            width: 16.5vw;
            height: 30.5vw;
        }
        100% {
            border-radius: 50%;  
            width: 15.5vw;
            height: 32.5vw;
        }
    }

    /* square */

    .squares__line__item {
        width: 21vw;
        height: 21vw;
    }

    .rect__item {
        height: 22vw;
    }


}

@media (max-width: 360px) {

    header {
        padding: 3px 16px; 
    } 

    .header__logo__link {
        font-size: 5.5vw;
    }

    .bable {
        transform: translate(40.5vw, -5.5vh) rotate(9deg);
    }

    .candy {
        transform: translate(-1.5vw, -10.5vh) rotate(-8deg);
    }
    
    .pink__title {
        transform: translate(20.5vw, 9vh) rotate(-16deg);
    }

    .pink__title svg {
        width: 56vw;
        height: 23vw;
    }

    .pink__title__img {
        width: 27vw;
    }

    .grey__square {
        width: 16vw;
        height: 27vw;
        transform: translate(7.5vw, 6vh) rotate(12deg);
    }

    .grey__title {
        transform: translate(16.5vw, 22.5vh) rotate(2deg);
    }

    .grey__title__rect {
        height: 15vw;
    }

    .grey__circle {
        width: 15vw;
        height: 15vw;
        transform: translate(66.7vw, 15.5vh);
    }

    .rounded {
        transform: translate(0.5vw, 21.5vh) rotate(335deg);
    }

    .pink__rect {
        transform: translate(69.5vw, 24vh);
        height: 23vw;
        width: 11vw;
    }

    .blue__rect__two {
        transform: translate(-0.5vw, 31vh) rotate(-8deg);
    }

    .blue__title {
        transform: translate(23vw, 33.5vh) rotate(11deg);
    }

    .blue__title svg {
        width: 52vw;
        height: 17vw;
    }

    .grey__title__extra {
        transform: translate(-3.8vw, 43.5vh);
    }

    .grey__title__extra svg {
        height: 16vw;
        width: 61vw;
    }

    .blue__adress {
        transform: translate(-0.5vw, 58vh);
    }

    .pink__circle__two {
        transform: translate(30vw, 52vh);
        width: 16.5vw;
    }

    .candy__two {
        transform: translate(39vw, 50.5vh) rotate(-49deg);
    }

    .candy__two__img {
        height: 22vw;
    }

    .grey__circle__three {
        transform: translate(63.5vw, 60vh);
    }

    .blue__adress__img {
        width: 21vw;
        top: -49%;
        left: 44%;
    }


    /*Стили для появляющихся элементов*/

       /*Стили для модального окна*/
    .modal {
        overflow-y: hidden;
        top: 0;
        width: 100%;
    }

    .modal__inner {
        flex-direction: column;
        margin-top: -37%;
        margin-right: -7%;
    }

    .modal__pic {
        transform: rotate(255deg);
    }

    .modal__pic img {
        width: 61vw;
    }

    .modal__bable {
        background: var(--blue);
        border-radius: 50%;
        width: 65vw;
        height: 50vw;
        margin-left: 12%;
        margin-top: 3%;
    }

    .modal__bable__content {
        top: 39%;
        left: 10%;
    }

    .modal__bable__img {
        display: none;
    }

    .modal__bable__content__close {
        top: -61%;
    }
    .modal__bable__close__img {
        width: 4.5vw;
    } 

    .modal__bable__content__title,
    .modal__bable__content__text {
        margin: 0;
    }

    .modal__bable__content__title,
    .modal__bable__content__text span:last-child {
        font-size: 4.2vw;
    }

    .modal__bable__content__text {
        font-size: 3.5vw;
        margin-top: 10%;
    }

    /* morfing */
    .pink__title__oval__morfing {
        width: 56vw;
        height: 23vw;
    }


    .rect__item {
        height: 19vw;
    }


}

@media (max-width: 320px) {

    h1 {
        font-size: 6vw;
    }

    .wrapper {
        margin: 9.5vh 10vw;
    }

    .rounded {
        transform: translate(-0.5vw, 27.5vh) rotate(335deg);
    }

    .rounded__img {
        height: 17vw;
    }

    .bable {
        transform: translate(35.5vw, -2.5vh) rotate(9deg);
    }

    .candy {
        transform: translate(-8.5vw, -5.5vh) rotate(-7deg);
    }

    .grey__square {
        transform: translate(2.5vw, 12vh) rotate(12deg);
        width: 16vw;
        height: 27vw;
    }

    .pink__rect {
        transform: translate(69.5vw, 29vh);
    }

    .pink__title {
        transform: translate(18.5vw, 12vh) rotate(-16deg);
    }

    .pink__title svg {
        width: 58vw;
        height: 23vw;
    }

    .blue__title {
        transform: translate(23vw, 37.5vh) rotate(15deg);
    }

    .grey__circle {
        transform: translate(65.7vw, 18vh);
    }

    .grey__title {
        transform: translate(16.5vw, 25.2vh) rotate(2deg);
    }

    .blue__rect__two {
        transform: translate(-0.5vw, 37vh) rotate(-8deg);
    }

    .blue__adress {
        transform: translate(-1.5vw, 64vh);
    }

    .grey__title__extra {
        transform: translate(-4.8vw, 48.5vh);
    }

    .pink__circle__two {
        transform: translate(29vw, 57vh);
    }

    .candy__two {
        transform: translate(38vw, 55.5vh) rotate(-50deg);
    }

    .grey__circle__three {
        transform: translate(63.5vw, 65vh);
    }

    /* morfing */
    .pink__title__oval__morfing {
        width: 58vw;
        height: 23vw;
    }

    .rect__item {
        height: 21vw;
    }


}